a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1282px;
    padding: 63px 0 30px 0;
    margin: 0 auto;
}

.logo {
    text-align: left;
    font-size: 80px;
    font-weight: 400;
}

.logo_black {
    color: #000;
}

.logo_blue {
    color: #4BCAFF;
}

nav {
    margin-top: 40px;
    height: 69px;
    background-color: #35444F;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    border-right: #FFF 1px solid;
    height: 100%;
    text-align: center;
    padding: 24px 38px 18px 38px;
}

.nav-menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-menu li:first-of-type {
    border-left: #FFF 1px solid;
}

.nav-menu li:hover {
    background-color: #222F3A;
}

main {
    padding: 48px 0 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

aside {
    min-width: 344px;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    border: 1px solid #000;
    color: #485863;
    margin-right: 52px;

}

.aside-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.aside-menu li {
    padding: 25px 44px;
    width: 100%;
}

.aside-menu li a {
    display: block;
    width: 100%;
    height: 100%;
}

.aside-menu li:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
    width: 100%;
}

.content__img {
    width: 885px;
    height: 529px;
    border: 1px solid #000;
}

.content__img img:hover {
    transition: 2s;
    transform: scale(1.5);
}

.content__img img {
    display: block;
    margin: 75px auto;
}

.content__text {
    margin-top: 37px;
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.content__text p {
    margin-top: 13px;
    margin-bottom: 0px;
}

footer {
    padding: 20px 40px;
    display: flex;
    height: 69px;
    justify-content: space-between;
    align-items: center;
    background-color: #63696E7A;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0C1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    width: 875px;
}

.footer__nav li:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-position: under;

}


/* .footer__nav li {
    padding: 0 5px;
} */
.footer__copyright {
    width: 190px;
    color: #010101;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}